<?xml version="1.0" encoding="utf-8" ?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true"
        verbose="true"
>
<testsuites>
    <testsuite name="test">
        <directory>tests/unit</directory>
    </testsuite>
</testsuites>
</phpunit>
